:root {
  --primary-font: "Nunito", sans-serif;
  --primary-color: #5f35f5;
  --black-color: #333;
  --white-color: #fcfcfcfc;
  --orange-color: #ea6c00;
  --subtext-color: #b5b5b5;
  --group-list-color: #f2f2f2;
  --searchbox-bg:#ebebeb;
  --border-color: #bebebe;
  --crosse-clr:#e3e3e3;
}
body{
  background-color: var(--white-color);
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
